body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

.pokeball {
    width: 500px;
    height: 500px;
    background-color: red;
    border-radius: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(0deg);
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: -1;
}

.pokeball.open {
    transform: translate(-50%, -50%) rotateX(-90deg);
}


.pokeball.closed {
    transform: translate(-50%, -50%) scale(0);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    color: #e94e1b;
}

.clients-container {
    margin-top: 40px;
}

.client {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f2f2f2;
}

.client h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.card {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    height: auto;
}

.card h2 {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

.card p {
    margin-top: 5px;
    font-size: 14px;
    color: #666;
}
